body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 120%;
  }
  
  a {
    color: #86769d;
    text-decoration: none;
    transition: color 0.1s;
  }
  
  a:hover {
    color: #86769d;
  }
  #questions{
    transition: margin-right 2s;
  }
  button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: #86769d;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
  }
  
  button:hover {
    background-color: #86769d;
  }
  
  .choices button {
    display: block;
  }
  
  input[type="text"] {
    font-size: 100%;
  }
  
  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #f3edfc;
  }
  
  .wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
    
  }
  
  .hide {
    display: none;
  }
  
  .start {
    text-align: center;
    border-style: solid;
    border-color: #86769d;
    border-radius: 30px;
    border-block-width: 20px ;
    padding: 30px;
  }
  
  .scores {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: underline;
  }
  
  .scoreLs {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid #ccc;
  }
  
  .timer {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #86769d;
    
  }
  